.Orange {
    background-color: Orange;
}

.Blue {
    background-color: blue;
}

.Yellow {
    background-color: yellow;
}

.Green {
    background-color: green;
}

.Purple {
    background-color: purple;
}

.Bold {
    font-weight: bold;
}